/* 
 * ##### Sasson - advanced drupal theming. #####
 *   
 */

@import "compass/css3";
@import "partials/colors";

body {
  background: $body-bg;
}

#header {
  color: $hf-text;
  padding: 15px; 
  @include linear-gradient(color-stops($header-start ,$header-finish), top);

  a {
    color: $hf-links;
  }
}

#main-menu,
#secondary-menu,
#featured,
#main-wrapper {
  background: $main-bg;
}

#main-wrapper {
  min-height: 300px;
}

#footer-inner {
  color: $hf-text;
  margin-top: 30px;
  border-top: 1px solid #555;

  a {
    color: $hf-links;
  }
}
